:root {
  --main-color: #dd826d;
  --secondary-color: #14495a;
  --background-color: #012b3c;
}

body {
  background-color: #012b3c;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
button,
li,
ul,
label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

button {
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  min-width: 55vw;
  height: 5vh;
  font-size: 1em;
  color: white;
}

button:hover {
  background-color: #e29988;
  cursor: pointer;
}

li,
Link,
ul,
a {
  text-decoration: none;
  list-style-type: none;
}

.menu-link:hover {
  background-color: var(--main-color);
}

.menu-link {
  padding: 0 1vw;
  margin: 1vw;
}

@media only screen and (min-width: 1183px) {
  button {
    min-width: 25vw;
  }
}
