#aboutMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 86vh;
}

.h3About {
  font-size: 1.4em;
  margin-bottom: 1%;
}

#experiencesDiv {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80vw;
}

#aboutInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

#competencesdiv,
#hobbiesdiv {
  width: 100%;
}

#hobbiesdiv {
  margin-top: 15%;
}

.imageAbout,
.aboutHobbiesLi {
  width: 80px;
}

.aboutUl {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

.aboutLi {
  margin: 2%;
  font-size: 1em;
  font-weight: bold;
}

.aboutHobbiesLi {
  display: flex;
  border: 1px solid var(--main-color);
  height: 80px;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 625px) and (max-width: 1183px) {
  .imageAbout,
  .aboutHobbiesLi {
    width: 100px;
  }

  .aboutHobbiesLi {
    height: 100px;
  }

  #aboutInfoDiv,
  #experiencesDiv {
    width: 50vw;
  }
}

@media only screen and (min-width: 1183px) {
  #aboutMain {
    display: flex;
    flex-direction: row;
    min-height: 83vh;
  }

  #experiencesDiv {
    justify-content: space-evenly;
    border: 1px solid var(--main-color);
    box-shadow: -17px 11px 0px var(--main-color);
    min-width: 25vw;
    width: auto;
    min-height: 55vh;
    align-items: center;
    padding: 2em;
  }

  .imageAbout,
  .aboutHobbiesLi {
    width: 125px;
  }

  .imageAbout:hover {
    width: 145px;
  }

  .aboutHobbiesLi {
    height: 125px;
  }

  #competencesdiv,
  #hobbiesdiv {
    width: 60%;
  }

  #aboutInfoDiv {
    width: auto;
  }
}
