#AdminMain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
  min-height: 80vh;
}

.AdminDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.AdminButton,
.AdminButtonVisible {
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 0;
  margin: 5% 0;
  padding: 4em;
}

.AdminButtonVisible {
  margin: 5% 0 0 0;
}

.hidden {
  display: none;
}

.AdminUlVisible {
  display: block;
  margin-bottom: 10%;
}

.modifyList {
  font-size: 1.2em;
  text-decoration: underline;
  margin: 2% 8%;
}

@media only screen and (min-width: 1183px) {
  #AdminMain {
    flex-direction: row;
    align-items: flex-start;
  }
  .AdminDiv {
    width: 30vw;
  }
  .AdminButton,
  .AdminButtonVisible {
    margin: 15% 0;
    font-size: 1.2em;
  }

  .AdminButtonVisible {
    margin: 15% 0 4% 0;
  }
}
