.footer {
  background-color: var(--secondary-color);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#footerUl {
  display: flex;
}

@media only screen and (min-width: 1183px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
