.formMain,
.formMainModify {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 83vh;
}

.formMainModify {
  margin-top: 2%;
}

.formGobal,
.formGobalConnexion,
.formGobalModify,
.formImage {
  display: flex;
  flex-direction: column;
  width: 75vw;
  border: 1px solid var(--main-color);
  padding: 2em;
}

.formGobal {
  margin-top: 5%;
}

.formGobalModify {
  margin: 0 0 2% 0;
}

.formButton {
  margin-top: 8%;
  margin-bottom: 8%;
  min-width: 0;
  font-weight: bold;
}

.formLabel {
  font-weight: bold;
  margin-top: 3%;
}

.formInput {
  background-color: #d9d9d9;
  border: none;
  height: 2.5vh;
  margin-top: 2%;
}

.formImage {
  margin: 2% 0;
}

.LinkForm {
  color: white;
  margin-top: 5%;
  text-decoration: underline;
}

small {
  color: white;
  margin-top: 3%;
  text-align: center;
}

@media only screen and (min-width: 1183px) {
  .formGobal,
  .formGobalConnexion,
  .formGobalModify,
  .formImage {
    width: 30vw;
  }
}
