.navBar {
  background-color: var(--secondary-color);
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.menu-link:hover,
#deleteButton:hover {
  background-color: var(--main-color);
}

.menu-link {
  padding: 0 1vw;
  margin: 1vw;
}

.active p {
  background-color: var(--main-color);
  padding: 0 1vw;
}

.NavMenu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#deleteButton {
  background-color: transparent;
  height: auto;
  min-width: 0;
  border-radius: 0;
  border: none;
  font-size: 1em;
}

@media only screen and (min-width: 1183px) {
  .NavMenu {
    justify-content: flex-end;
  }
}
